.ButtonGroup {
   float: right;
   margin-right: 2vw;
}

.ButtonGroup button, .ButtonGroup a button, .confirmGroup button {
   margin-left: 1vw;
   padding: 1vh 2vw;
   font-size: 0.95em;
   box-shadow: 0.1vw 0.2vh black, -0.05vw -0.05vh black;
   border-top-left-radius: 8px;
   border-bottom-left-radius: 8px;
   border-top-right-radius: 8px;
   outline: none;
}

.ButtonGroup button:hover, .ButtonGroup a button:hover {
   transform: scale(1.01);
}

.ButtonGroup button:active, .ButtonGroup a button:active {
   box-shadow: 0.05vw 0.1vh black, -0.05vw -0.05vh black;
}

.settingsGroup {
   float: right;
   padding-bottom: 0.5vh;
}

.settingsGroup button {
   border-width: 1px;
   margin-right: 0.15vw;
   border-color: rgb(70, 207, 150);
}

.confirmGroup {
   display: block;
   margin-top: 3vh;
}

.confirmGroup button {
   padding: 0.5vh 1vw;
}

.pagesGroup {
   float: right;
   padding: 3vh 0;
}

.pagesGroup button {
   padding: 0.8vh 0.8vw;
   margin-right: 0.5vw;
   font-size: 1em; 
   border-radius: 6px;
   box-shadow: 0.1vw 0.2vh black, -0.05vw -0.05vh black;
}

@media(max-width: 599px){
   .ButtonGroup {
      margin: 5vh 0;
      float: none;
      display: flex;
      justify-content: space-between;
   }

   .ButtonGroup button, .ButtonGroup a button, .confirmGroup button {
      padding: 1.4vh 3vw;
      font-size: 1.08em;
      border-radius: 4px;
      outline: none;
   }

   .pagesGroup {
      display: flex;
      justify-content: center;
      float: none;
      padding: 0;
   }

   .pagesGroup button {
      padding: 2vh 2vh;
      margin: 0 1.5vw 4vh;
      font-size: 1em; 
      border-radius: 6px;
   }

   .settingsGroup {
      float: none;
      width: 80%;
      margin: 0 auto;
      padding-bottom: 0;
      display: flex;
      justify-content: space-between;
      margin-bottom: 1vh;
   }
}