.TodoForm {
   display: inline-block;
   max-width: 53vw;
   min-width: fit-content;
   margin: 5vh 0;
}

.TodoForm input {
   font-size: 1.1em;
   padding: 0.3vh 0.5vw;
   width: 46vw;
   border: 0.5px solid #CFBAE1;
   border-radius: 8px;
}

.TodoForm input:focus {
   outline: 2px solid #CFBAE1;
   box-shadow: 2px 1px #CFBAE1;
}

.TodoForm button {
   min-width: 4.5vw;
   font-size: 1em;
   padding-top: 0.3vh;
   padding-bottom: 0.3vh;
   margin: 0 0.7vw;
   border-radius: 4px;
   border-color: rgb(70, 207, 150);
}

@media(max-width: 599px){
   .TodoForm {
      width: 100%;
      margin-bottom: 3vh;
   }

   .TodoForm input {
      font-size: 1.3em;
      height: 100%;
   }

   .TodoForm button {
      font-size: 1.05em;
      padding: 0.8vh 3vw 0.2vh;
      margin: 1vh 0 0.2vh;
      border-width: 0.5px;
   }
}