.Toolbar {
   position: fixed;
   top: 0;
   left: 0;
   display: flex;
   justify-content: space-between;
   padding: 0 2vw;
   width: 96vw;
   height: 12vh;
   z-index: 2;
   background-color: #7FD1B9;
   border-bottom: 1px solid gray;
}

@media(min-width: 600px){
   .Toolbar {
      display: none;
   }
}