.MainSection {
   height: 95vh;
   background-repeat: no-repeat;
   background-origin: content-box;
   background-attachment: fixed;
}

.MainSection h1 {
   padding-top: 26vh;
   font-size: 4em;
   font-family: Alegreya;
}

.MainSection h3 {
   padding-top: 4vh;
   font-size: 1.3em;
   font-family: Roboto;
}

.MainSection h1, .MainSection h3 {
   text-align: center;
   margin: 0;
   width: 100%;
}

.LandingLink {
   display: block;
   width: fit-content;
   margin: 7vh auto;
   padding: 1.5vw;
   background-color: rgb(92, 233, 214);
   text-decoration: none;
   color: black;
   font-size: 1.3em;
   font-weight: bold;
   font-family: Alegreya;
   border-radius: 4px;
   box-shadow: 2px 2px;
   transition: all 0.1s;
}

.LandingLink:hover {
   transform: scale(1.05);
}

.LandingLink:active {
   box-shadow: 1px 1px;
}

@media(max-width: 599px){
   .MainSection h1 {
      font-size: 3.5em;
   }

   .MainSection h3 {
      font-size: 1.3em;
      padding-top: 2vh;
   }

   .LandingLink {
      margin-top: 12vh;
      padding: 3.5vw 3vw;
      background-color: rgb(92, 233, 214);
      font-size: 1.4em;
   }
}