.App, body, html {
   margin: 0;
   margin-bottom: 1vh;
   padding: 0;
   font-family: "roboto";
   background: rgb(255, 221, 235);
   background: -webkit-linear-gradient(to right, rgb(255, 221, 235), rgb(237, 214, 255));
   background: linear-gradient(to right, rgb(255, 221, 235), rgb(237, 214, 255));
   overflow-y: auto;
}