.LandingPage {
   width: 100vw;
}

.BackgroundSection {
   height: 60vh;
   background-attachment: fixed;
   background-position: center;
}

@media(max-width: 599px){
   .BackgroundSection {
      height: 40vh;
   }
}