.OverviewSection {
   height: fit-content;
   padding: 0 5vw;
   background-color: #faf8f8;
}

.OverviewSection h2 {
   margin: 0;
   padding-top: 10vh;
   text-align: center;
}

.OverviewSection ul {
   display: flex;
   justify-content: space-around;
   padding: 10vh 10vw 15vh;
}

@media(max-width: 599px){
   .OverviewSection {
      padding: 6vh 5vw;
   }

   .OverviewSection h2 {
      padding: 0;
      text-align: center;
   }

   .OverviewSection ul {
      flex-direction: column;
      padding: 0 5vw;
   }
}