.IconList {
   list-style: none;
   padding: 0;
   width: 95%;
   display: flex;
   flex-direction: column;
}

.IconList h3 {
   margin-top: 0;
   font-size: 1.7em;
}

.IconList div {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}