.itemForm {
   position: fixed;
   left: 37.5vw;
   top: 25vh;
   width: 23vw;
   height: 56vh;
   padding: 1vh 1vw;
   z-index: 6;
   background-color: rgb(251, 221, 255);
   border-radius: 4px;
   box-shadow: 4px 4px 20px;
}

.itemForm h3 {
   font-size: 1.3em;
}

.itemForm form label {
   display: block;
   font-size: 1.2em;
}

.itemForm form textarea {
   display: block;
   width: 77%;
   height: 8vh;
   resize: none;
   font-size: 1.1em;
   border: 0.5px solid rgb(224, 193, 255);
   border-radius: 8px;
}

.itemForm form textarea:focus {
   outline: 2px solid rgb(207, 160, 255);
}

@media(max-width: 599px){
   .itemForm {
      width: 80vw;
      left: 10vw;
   }
}