.itemForm {
   position: fixed;
   left: 37.5vw;
   top: 25vh;
   width: 23vw;
   padding: 1vh 1vw 3vh;
   z-index: 6;
   background-color: #A1FFCE;
   background: linear-gradient(145deg, #FAFFD1, #A1FFCE);
   background: -webkit-linear-gradient(145deg, #FAFFD1, #A1FFCE);
   border-radius: 4px;
   box-shadow: 4px 4px 20px;
}

.itemForm h3 {
   font-size: 1.5em;
   margin: 3.5vh 1%;
}

.itemForm form label {
   display: block;
   font-size: 1.2em;
   margin: 0 1%;
}

.itemForm form textarea {
   display: block;
   width: 90%;
   padding: 1.2vh 4.7%;
   margin: 0.5vh 0.3%;
   font-size: 1.1em;
   resize: none;
   border: 0.5px solid rgb(92, 233, 214);
   border-radius: 8px;
}

.itemForm form textarea:focus {
   outline: 2px solid rgb(70, 207, 150);
   box-shadow: 3px 3px #A1FFCE;
}

@media(max-width: 599px){
   .itemForm {
      width: 70vw;
      left: 10vw;
      padding: 0 5vw;
   }

   .itemForm h3 {
      font-size: 1.8em;
      margin: 2vh 0;
   }

   .itemForm form label {
      margin: 0.3vh 0 0;
   }

   .itemForm form textarea {
      font-size: 1.3em;
   }
}