.Modal {
   position: fixed;
   top: 33.3vh;
   left: 37.5vw;
   width: 25vw;
   height: 33.3vh;
   padding: 1vh 1vw;
   font-size: 1.1em;
   background-color: #A1FFCE;
   background: linear-gradient(0deg,#EFE9AE,#FEC3A6);
   background: -webkit-linear-gradient(0deg,#EFE9AE,#FEC3A6);
   border-radius: 4px;
   box-shadow: 4px 4px 20px;
   z-index: 8;
}

.Modal h3 {
   font-size: 1.3em;
}

.Confirmation .loader {
   padding: 0;
}

@media(max-width: 599px){
   .Modal {
      left: 8vw;
      width: 70vw;
      padding: 5vw;
      height: fit-content;
      font-size: 1.3em;
   }

   .Modal h3 {
      margin-top: 0;
   }
}