.NavBar {
   position: fixed;
   top: 0;
   left: 0;
   display: flex;
   justify-content: space-between;
   width: 97.6vw;
   height: 10vh;
   padding: 0 1.2vw;
   z-index: 2;
   background-color: rgb(92, 233, 214);
   box-shadow: 0.5px 0.5px 5px black;
}

@media(max-width: 599px){
   .NavBar {
      display: none;
   }
}