.TodoList {
   padding: 0.5vh 0 1vh;
}

.TodoList h2, .TodoList h3 {
   padding-left: 5px;
}

.TodoList h2 {
   font-size: 2.2em;
   margin-bottom: 0;
}

.TodoList h3 {
   margin: 0;
}

.TodoList ul {
   padding-left: 20px;
}

@media(max-width: 599px){
   .TodoList {
      min-height: 83.5vh;
      max-height: fit-content;
   }

   .TodoList h2 {
      font-size: 2.4em;
      margin-top: 1vh;
   }
}