.ActiveNav button {
   height: 8.5vh;
   margin-bottom: 1.5vh;
   font-weight: 600;
   text-decoration: underline;
}

.ActiveNav button:hover {
   transform: none;
}

.ActiveNav button:focus {
   transform: none;
}

.ActiveNavLess button {
   font-weight: 600;
}