.ActiveNav button {
   height: 9vh;
   margin-bottom: 1vh;
   font-weight: 600;
   background-color: rgb(207, 160, 255);
}

.ActiveNav button:hover {
   transform: none;
}

.ActiveNavLess button {
   font-weight: 600;
}