.SideDrawer {
   position: fixed;
   top: 12vh;
   left: 0;
   width: 65vw;
   height: 95vh;
   padding-top: 5vh;
   z-index: 2;
   display: flex;
   flex-direction: column;
   background: #A1FFCE;
   background: linear-gradient(0deg, #EFE9AE, #FEC3A6);
   background: -webkit-linear-gradient(0deg, #EFE9AE, #FEC3A6);
   background-repeat: no-repeat;
   transition: transform 0.45s ease-out;
}

.OpenDrawer {
   transform: translateX(0);
}

.OpenDrawer button {
   transition: opacity 2s;
   opacity: 1;
}

.ClosedDrawer {
   transform: translateX(-100%);
}

.ClosedDrawer button {
   transition: opacity 0.33s;
   opacity: 0;
}

.SideDrawer .ActiveNav button {
   background-color: inherit;
   transform: scale(1.1);
}

@media(min-width: 600px){
   .SideDrawer {
      display: none;
   }
}