.itemsList {
	margin-top: 8vh;
	width: 100%;
}

.itemsList ul {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

@media (max-width: 599px) {
	.itemsList {
		width: 100%;
		margin-top: 6vh;
	}

	.itemsList ul {
		padding: 0 3vw;
		justify-content: space-evenly;
	}
}
