h3 + .optionsLabel {
   padding-left: 5px;
}

.selectOption {
   margin: 0.5vh 1%;
   font-size: 1em;
}

.selectOption:focus {
   outline: 2px solid rgb(70, 207, 150);
   box-shadow: 3px 3px #A1FFCE;
}

@media(max-width: 599px){
   .selectOption {
      font-size: 1.1em;
   }
}