.OverviewThumbnail {
   width: 16vw;
   list-style: none;
   text-align: center;
}

.OverviewThumbnail img {
   width: 8vw;
   height: 8vw;
   margin: 0 auto;
}

@media(max-width: 599px){
   .OverviewThumbnail {
      width: 80vw;
      margin-top: 6vh;
      list-style: none;
      text-align: center;
   }

   .OverviewThumbnail h4 {
      font-size: 1.2em;
      margin-bottom: 0;
   }

   .OverviewThumbnail p {
      font-size: 1.05em;
      margin-top: 1vh;
   }

   .OverviewThumbnail img {
      width: 35vw;
      height: 35vw;
   }
}