.App,
body,
html {
	margin: 0;
	padding: 0;
	font-family: "roboto";
	background: #fcb38f;
	background: linear-gradient(0deg, #efe9ae, #fcb38f);
	background: -webkit-linear-gradient(0deg, #efe9ae, #fcb38f);
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow-x: hidden;
}

.itemThumbnail {
	display: inline-block;
	width: 8vw;
	height: 8vw;
	margin: 0 1vw 6vh;
	text-align: center;
	font-size: 0.9em;
}

.itemThumbnail:hover {
	cursor: pointer;
}

.itemThumbnail {
	color: black;
	text-decoration: none;
}

.itemThumbnail div {
	display: flex;
	width: 80%;
	height: 80%;
	margin: 0 auto 1vh;
	box-shadow: 2px 2px 5px rgb(133, 131, 131);
}

.itemThumbnail img {
	width: 80%;
	height: 80%;
	margin: 10%;
}

@media (max-width: 599px) {
	.App,
	body,
	html {
		margin-bottom: 0;
	}

	.itemThumbnail {
		width: 35vw;
		height: 35vw;
		margin: 0 0 13vh;
		text-align: center;
		font-size: 0.9em;
	}
}

.TransparentBtn {
	border: none;
	background-color: transparent;
}
