.Button {
   outline: none;
   background-color: #7FD1B9;
   border-radius: 2px;
}

Button:hover {
   cursor: pointer;
}

.Button:focus {
   outline: 2px solid rgb(70, 207, 150);
   transform: scale(1.02);
}

.settingsBtn {
   width: 1.8vw;
   height: 1.8vw;
   margin-left: 0.2vw;
   border-radius: 50%;
   background: #A1FFCE;
   background: linear-gradient(145deg, #FAFFD1, #A1FFCE);
   background: -webkit-linear-gradient(145deg, #FAFFD1, #A1FFCE);
}

.settingsBtn:focus {
   outline: 0.5px solid rgb(70, 207, 150);
   border: 1px solid rgb(70, 207, 150);
}

.navItemBtn {
   height: 8.5vh;
   margin-bottom: 1.5vh;
   padding: 0 3vw;
   background-color: inherit;
   border: none;
   text-decoration: none;
   color: black;
   font-size: 1.05em;
}

.navItemBtn:hover {
   transform: scale(1.1);
}

.navItemBtn:focus {
   height: 8.2vh;
   outline: 2px solid rgb(155, 154, 154);
   transform: scale(1.02);
}

.submitBtn {
   display: block;
   margin: 2vh 0;
   padding: 1vh 1vw;
   border-width: 2px;
   font-size: 1.05em;
   box-shadow: 0.1vw 0.2vh rgb(133, 131, 131), -0.05vw -0.05vh rgb(133, 131, 131);
}

.selectedBtn {
   font-weight: bold;
   background-color: #CFBAE1;
}

.InFolderBtn {
   float: right;
   padding: 0.75vh 1.25vw;
   font-size: 0.95em;
   box-shadow: 0.1vw 0.2vh black, -0.05vw -0.05vh black;
   border-top-left-radius: 8px;
   border-bottom-left-radius: 8px;
   border-top-right-radius: 8px;
   outline: none;
}

.emptyDesktopBtn {
   display: block;
   margin: 0 auto;
   padding: 1vh 2vw;
   font-size: 1em;
   box-shadow: 0.1vw 0.2vh black, -0.05vw -0.05vh black;
}

.deleteBtn {
   opacity: 0;
   background-color: inherit;
   border: none;
   color: rgb(59, 167, 122);
   font-size: 1.2em;
   margin: auto 0;
   transition: opacity 0.5s ease-in;
}

.deleteBtn:focus {
   opacity: 1;
}

.footerBtn {
   background-color: #faf8f8;
   padding: 1.5vw;
   font-weight: bold;
   font-size: 1.3em;
   border-radius: 10px;
}

@media(max-width: 599px){
   .Button {
      padding: 1vh 2vw;
   }

   .submitBtn {
      padding: 1.5vh 3vw;
      font-size: 0.9em;
      width: 98%;
   }

   .settingsBtn {
      flex-grow: 1;
      height: inherit;
      margin-left: 1vw;
      border-radius: 8px;
   }

   .navItemBtn {
      padding: 0 3vw;
      background-color: inherit;
      font-size: 1.3em;
   }

   .deleteBtn {
      opacity: 1;
   }
}
